#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav_pan {
  position: absolute;
  top:0px;
  left: calc(50% - 252px);
  font-size: 26px;
  color: white;
}

.nav_pan a {
  color: white;
}

.charsWrapper {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}

.char {
  max-width: 240px;
  margin-bottom: 60px;
  background-color: #f3eded;
  border-radius: 6%;
  border: 2px solid rgb(255, 255, 255);
  color: black;
}

.char img {
  border-top-right-radius: 6%;
  border-top-left-radius: 6%;
  width: 100%;
}

.main_pic {
  height: 450px; 
  width: 450px;
  background-image: url("./materials/main_pic_min.png");
  position: absolute;
  top:calc(55% - 250px);
  left:calc(50% - 225px);  
}

.not_found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not_found_pic {
  height: 399px; 
  width: 460px;
  background-image: url("./materials/not_found_min.png");
}

.not_found p {
  margin: 0;
  font: 550 48px "Arial", sans-serif;
  color: #ffffff; 
}

.char_card {
  width:1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.char_avatar {
  width: 450px;
}

.char_avatar img {
  width: 100%;
}

.char_info {
  width: 480px;
  font: 520 26px/1.5 "Arial", sans-serif;
  color: white;
  text-align: start;
  padding-left: 40px;
  margin-bottom: 10px;
}

.char_info p {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
}

.char_info p span:nth-of-type(2){
  text-align: right;
}

.char_card .void {
  width: 70%;
}

.char_card button {
  width: 160px;
}

.cart {
  width: 60%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cart_list {
  min-height: 100px;
  width:100%;
  background-color: white;
  border-radius: 10px;
  text-align: start;
  padding: 6px 20px;
}

.cart_list a {
  color: black;
}

.cart button {
  width: 160px;
  margin-top: 10px;
}

.ldng_scrn {
  color: white;
  font: 520 36px/1.5 "Arial", sans-serif;
}